
/.vs
/.vs
.vs/Learning CSharp/v17/DocumentLayout.json
/.vs
/.vs
.vs/Learning CSharp/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/Learning CSharp/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/Learning CSharp/FileContentIndex/aa7d9280-dfc6-4c9a-8483-b8aca5b2d810.vsidx
.vs/Learning CSharp/v17/.suo
.vs/Learning CSharp/v17/DocumentLayout.backup.json
.vs/Learning CSharp/v17/DocumentLayout.json
